<a href="https://colab.research.google.com/github/slipaway/melonplaylist/blob/master/final_result.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [ ]:
import os
import pandas as pd
import numpy as np

In [ ]:
folder = '/content/gdrive/My Drive/멜론'
filelist = os.chdir(folder)

In [ ]:
test = pd.read_json('test.json')

# 1. Tag2vec 모델

In [ ]:
# (2)(태그)(1232), (6)(태그)(4190)
H_result = pd.read_json('H_result_1.json')
H_result  # 5422 = 1232 + 4190

          id                                     predicted_tags
0       7461  [피쉬슈즈, 피터팬컴플렉스, 소수빈, 인디스트리트, 케이인디차트, yasisi, 미...
1      90348  [기분전환, 여행, 빵빵, 운전, 신나는, 흥, 신나는드라이브, 휴게소, 운전할때,...
2      58617  [분위기있는, 어두움, 레트로감성, 비밥, 관능적, 매혹, 감성, 분위기를, 패션위...
3      88862  [내적댄스, 기분전환, 시원시원, 신나는노래모음, 프로야구, 드라아브, 국내EDM,...
4     133975  [진선미, 반함, 달달송, 상사병, 첫만남, 프로포즈송, 생각했던대로, 남여, 설렌...
...      ...                                                ...
5417   77688   [달빛, 밤하늘, 선선한바람, 여름밤, 가을밤, 달, 달밤, 무중력, 여수밤바다, 밤]
5418  137930  [회상, 이별은, 담시, 슈가맨시즌2, 올드감성, 재발견, 토토가, 첫이별, 토토가...
5419     936  [산책해요, 아쿠스틱, 우울하고, 띵_곡, 오후의, 공감하는, 혼자, 생각을, 운전...
5420  110589  [드라이브, 신나는, 여행, 핫한노래, 스트레스, 제주여행, 팝, 청량한, 내적댄스...
5421    2605  [썸머, 몰디브, Summer, 팥빙수, 여름노래, 아이스커피, 공항가는길, 트로피...

[5422 rows x 2 columns]

# 2. MF 모델

In [ ]:
# (5)(곡)(4190), (7)(곡)(4507)
J_result_1 = pd.read_json('J_result_1.json')
J_result_1 = J_result_1.reset_index()
J_result_1 = J_result_1.drop('index', axis = 1)
J_result_1  # 8697

          id                                    predicted_songs
0      70107  [581799, 493762, 15124, 195174, 191915, 146989...
1       7461  [581799, 493762, 15124, 195174, 146989, 191915...
2      90348  [581799, 493762, 15124, 625875, 146989, 195174...
3      58617  [133143, 650494, 701557, 610933, 132994, 34820...
4     102395  [116573, 675115, 654757, 37748, 88503, 663905,...
...      ...                                                ...
8692  137930  [133143, 650494, 701557, 610933, 132994, 34820...
8693     936  [144663, 116573, 357367, 37748, 493762, 627363...
8694  110589  [654757, 117595, 88503, 1236, 113958, 173943, ...
8695    2605  [581799, 493762, 237407, 505036, 15124, 413422...
8696  126651  [519391, 640657, 133484, 698536, 232606, 11228...

[8697 rows x 2 columns]

In [ ]:
# (9)(태그)(154)
J_result_2 = pd.read_json('J_result_2.json')
J_result_2  # 154

         id                                    predicted_tags
0      9823  [힙합, 랩, 알앤비, 소울, HipHop, 가을, 트렌디, 그루브, 국내힙합, 카페]
1     31103      [새벽, 밤, 비오는날, 감성, 분위기, 저녁, 몽환, 새벽감성, 여름, 우울]
2     75837      [새벽, 밤, 비오는날, 감성, 분위기, 저녁, 몽환, 새벽감성, 여름, 우울]
3     81933   [휴식, 드라이브, 힐링, 스트레스, Pop, 운동, 저녁, 주말, 분위기, 트렌디]
4     95606   [드라이브, 신나는, 스트레스, 운동, 댄스, 여행, 여름, Pop, EDM, 클럽]
..      ...                                               ...
149   27708   [힐링, 새벽, 밤, 휴식, 뉴에이지, 피아노, 연주곡, 클래식, 자장가, 스트레스]
150   30510   [힐링, 휴식, 뉴에이지, 피아노, 연주곡, 클래식, 락, 자장가, 스트레스, 집중]
151  115035        [잔잔한, 사랑, 이별, 새벽, 슬픔, 밤, 설렘, 비오는날, 가을, 겨울]
152   77836      [알앤비, 소울, 락, 가을, 힙합, RnB, 그루브, 카페, 트렌디, 분위기]
153   27739      [알앤비, 소울, 락, 가을, RnB, 힙합, 그루브, 카페, 분위기, 트렌디]

[154 rows x 2 columns]

In [ ]:
# (8)-2(태그)(4118) + (8)-3[empty](180)
J_result_3 = pd.read_json('J_result_3.json')
J_result_3  # 4298

          id                                     predicted_tags
0      70107  [황현, 프리스타일, Apink, 고등학생, 서지음, 오늘의추천가수, 슴스테, Mo...
1     102395  [움프, 하드스타일, futurehouse, MartinGarrix, RunDeep...
2      42586  [weeflow, kxan, Empire, 히팝, 제국, 센힙합, SMTM, nb2...
3      13244  [힙발라드, 에픽하이, 드렁큰타이거, 재지팩트, 화지, Beenzino, 허클베리피...
4      55399  [JPOP모음, 중국노래, 중국음악, 일본애니, JAPAN, 일본밴드, chanso...
...      ...                                                ...
4293  122825                                                 []
4294   69955                                                 []
4295   78768                                                 []
4296   96756                                                 []
4297   95818                                                 []

[4298 rows x 2 columns]

# 3. Train2vec 모델

In [ ]:
# (1)-1,(3),(4)(곡+태그)(1770)
S_result_1 = pd.read_json('S_result_1.json')
S_result_1  # 1770

          id  ...                                     predicted_tags
0      88862  ...  [애창곡, 노래교실, 18번, 고음불가, 회식, 해소, 혼코노, 코인노래방, 코노,...
1     133975  ...        [설렘, 봄, 설탕, 봄노래, 달달, 벗꽃, 달달구리, 벚꽃, 연애, 봄내음]
2     135323  ...  [뉴에이지모음, Jazzpiano, 봄카페, 트리오, 피아노재즈, 책읽기, LONM...
3      43130  ...  [봄카페, 관현악, 이지리스닝인기클래식, 연주곡, 피아노클래식, 뉴에이지모음, 독주...
4     113806  ...  [밤, 감성, 새벽감성, 잠, 주말저녁, 잔잔한, 잠못드는밤에, 우울한노래, 첫날, 감]
...      ...  ...                                                ...
1765   27982  ...  [회상, 김현식, 레전드, 휘트니휴스턴, 올디스, 2000년대초반, 추억의명곡, 콤...
1766  123364  ...       [설렘, 연애, 썸, 연인, 고백, 커플, 연애세포, 두근두근, 달달한, 달콤]
1767   61817  ...  [LONMusic, 뉴에이지모음, 론뮤직, 이지리스닝인기클래식, 발레음악, 잔잔한클...
1768   59912  ...  [프렌치팝, 프렌치, chanson, 이탈리아, 샹송, 칸초네, 독일, 포르투갈, ...
1769   46090  ...  [힐링, 첫날, 주말저녁, 생각을, 뉴에이지모음, 이지리스닝인기클래식, Yevely...

[1770 rows x 3 columns]

In [ ]:
tag_yu_index = []
tag_no_index = []

for i in range(len(test['tags'])):
  if len(test['tags'][i]) != 0:
    tag_yu_index.append(i)
  else:
    tag_no_index.append(i)


test_tag_yu = test.loc[tag_yu_index,:]
test_tag_yu = test_tag_yu.reset_index()
test_tag_yu  #태그만 있는 애들

index_list_request = []

for i in range(5422):
  if len(test_tag_yu['plylst_title'][i]) != 0:
      index_list_request.append(i)


test_request = test_tag_yu.loc[index_list_request,:]
id_request = test_request['id'].tolist()
id_request #플레이리스트 제목 있고, 태그 있는 애들 id


drop_len = len(id_request)

S_len_1 = S_result_1.shape[0]

for i in range(S_len_1) :
  for j in range(drop_len) :
    if S_result_1['id'][i] == id_request[j] :
      S_result_1['predicted_tags'][i] = []

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# (1)-2(곡)(16)
S_result_2 = pd.read_json('S_result_2.json')
S_result_2  # 16

        id  ...                                    predicted_songs
0    81933  ...  [596034, 192464, 80982, 141340, 193627, 75687,...
1   139673  ...  [471600, 433861, 44791, 399302, 71143, 112641,...
2   119362  ...  [141340, 385211, 137263, 205597, 63586, 634913...
3   129084  ...  [433861, 44791, 71143, 471600, 495675, 632483,...
4     7713  ...  [54819, 258185, 675391, 471600, 199372, 178167...
5    76637  ...  [54819, 375132, 178167, 258185, 675391, 458223...
6   106582  ...  [141340, 80982, 398528, 192464, 279587, 88647,...
7   119817  ...  [471600, 433861, 44791, 71143, 185713, 495675,...
8     8572  ...  [54819, 258185, 675391, 471600, 199372, 178167...
9    37362  ...  [471600, 433861, 44791, 71143, 185713, 495675,...
10   68319  ...  [327409, 115684, 88647, 81281, 190356, 299615,...
11   90892  ...  [192464, 268453, 279587, 596034, 266121, 14727...
12  102824  ...  [192464, 594392, 279587, 356293, 147273, 57760...
13   97369  ...  [141340, 594392, 633847, 268453, 632573, 39026...
14   42898  ...  [594392, 308541, 147273, 83366, 192464, 76976,...
15   54496  ...  [471600, 327409, 128273, 195519, 396642, 65657...

[16 rows x 3 columns]

In [ ]:
# empty

song_empty_fill = pd.read_json('song_empty_fill.json')
tag_empty_fill = pd.read_json('tag_empty_fill.json')

In [ ]:
song_empty_fill = song_empty_fill[0].tolist()

In [ ]:
tag_empty_fill = tag_empty_fill[0].tolist()

# 결과 데이터프레임(test_result)

In [ ]:
# Initialize

test_result = pd.DataFrame(columns = [0,1,2])

test_id = test.id.tolist()
length = len(test_id)

for i in range(length):
  new_row = pd.DataFrame([test_id[i], [], []]).T
  test_result = test_result.append(new_row, ignore_index = True)

test_result.columns = ['id', 'predicted_songs', 'predicted_tags']

test_result

           id predicted_songs predicted_tags
0       70107              []             []
1        7461              []             []
2       90348              []             []
3       58617              []             []
4      102395              []             []
...       ...             ...            ...
10735  137930              []             []
10736     936              []             []
10737  110589              []             []
10738    2605              []             []
10739  126651              []             []

[10740 rows x 3 columns]

In [ ]:
test_id = test_result['id'].tolist()
test_len = test_result.shape[0]

In [ ]:
# extend 시도
### test_result 통합 코드 ###


# 1. Tag2vec 모델
# (2)(태그)(1232), (6)(태그)(4190)
H_id = H_result['id'].tolist()
H_len = H_result.shape[0]


# 2. MF 모델
# (5)(곡)(4190)
J_id_1 = J_result_1['id'].tolist()
J_len_1 = J_result_1.shape[0]

# (9)(태그)(154)
J_id_2 = J_result_2['id'].tolist()
J_len_2 = J_result_2.shape[0]

# (8)-2(태그)(4118)
J_id_3 = J_result_3['id'].tolist()
J_len_3 = J_result_3.shape[0]


# 3. Train2vec 모델
# (1)-1,(3),(4)(곡+태그)(1770)
S_id_1 = S_result_1['id'].tolist()
S_len_1 = S_result_1.shape[0]

# (1)-2(곡)(15)
S_id_2 = S_result_2['id'].tolist()
S_len_2 = S_result_2.shape[0]


for a in range(test_len) :
  for c in range(J_len_1) :
    if test_id[a] == J_id_1[c] :
      test_result['predicted_songs'][a].extend(J_result_1['predicted_songs'][c])
  for d in range(J_len_2) :
    if test_id[a] == J_id_2[d] :
      test_result['predicted_tags'][a].extend(J_result_2['predicted_tags'][d])
  for e in range(J_len_3) :
    if test_id[a] == J_id_3[e] :
      test_result['predicted_tags'][a].extend(J_result_3['predicted_tags'][e])
  for f in range(S_len_1) :
    if test_id[a] == S_id_1[f] :
      test_result['predicted_songs'][a].extend(S_result_1['predicted_songs'][f])
      test_result['predicted_tags'][a].extend(S_result_1['predicted_tags'][f])
  for g in range(S_len_2) :
    if test_id[a] == S_id_2[g] :
      test_result['predicted_songs'][a].extend(S_result_2['predicted_songs'][g])
  for b in range(H_len) :
    if test_id[a] == H_id[b] :
      test_result['predicted_tags'][a].extend(H_result['predicted_tags'][b])

In [ ]:
# empty fill
  
for i in range(test_len) :
  if len(test_result['predicted_songs'][i]) == 0 :
    test_result['predicted_songs'][i] = song_empty_fill
  if len(test_result['predicted_tags'][i]) == 0 :
    test_result['predicted_tags'][i] = tag_empty_fill

In [ ]:
### 빈 곳 있는지 확인 ###

still_empty = []
for i in range(test_len) :
  if len(test_result['predicted_songs'][i]) == 0 or len(test_result['predicted_tags'][i]) == 0 :
    still_empty.append(i)

still_empty

[]

In [ ]:
### 개수 확인 ###

song_num = []
tag_num = []

for i in range(test_len) :
  song_len = len(test_result['predicted_songs'][i])
  tag_len = len(test_result['predicted_tags'][i])
  if song_len != 100 :
    song_num.append(song_len)
  if tag_len != 10 :
    tag_num.append(tag_len)

print(song_num)
print(tag_num)

[]
[]

In [ ]:
id = test_result['id']
id = id.tolist()
songs = test_result['predicted_songs']
tags = test_result['predicted_tags']


import json

result = []

length = test_result.shape[0]
for i in range(length):
  dic = {'id': id[i], 'songs': songs[i], 'tags': tags[i]}
  dic = dic.copy()
  result.append(dic)

with open('results.json', 'w') as json_file:
  json.dump(result, json_file, ensure_ascii = False)